<section class="cover" *ngIf="showed">
  <div class="content">
    <div class="overlay-cover-top">
      <span>Undangan Pernikahan</span>
    </div>
    <div class="overlay-cover-bottom">
      <div class="content">
        <div class="title">

        </div>
        <div class="title">
          Eka & Ana
        </div>
        <i class="accent-line"></i>
        <div class="date">
          <p class="text-center">
            15 <b >.</b>
            03 <b >.</b>
            2024</p>
        </div>
        <div class="open-wrapper">
          <div class="open" (click)="hideCover()">
            Buka Undangan
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
